<div class="flex-container">
  <div class="col-sm-3">
  <h3>Đăng nhập</h3>
  <form action="">
    <div class="form-group">
      <i class="fa fa-envelope-o"></i>&nbsp;
      <label for="email"> Email</label>
      <input type="email" class="form-control" id="email" placeholder="Nhập email" name="email">
    </div>
    <div class="form-group">
      <i class="fa fa-lock"></i>&nbsp;
      <label for="pwd"> Mật khẩu</label>
      <input type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="pswd">
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Ghi nhớ
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
  </form>
  </div>
</div>
