<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link">Series</a>
    </li>
    <div class="btn-group">
      <li class="nav-item">
        <!-- <i class="ionicons ion-android-search"></i> -->
        <button class="btn btn-primary" (click)="activateButton('pan')">Pan</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="activateButton('zoom')">Zoom</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="activateButton('level')">Level</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="activateButton('probe')">Probe</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="activateButton('length')">Length</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="activateButton('ellip')">Ellip</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="activateButton('rectangle')">Rectangle</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="activateButton('angle')">Angle</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="activateButton('highlight')">Highlight</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="activateButton('freehand')">Freehand</button>
      </li>

      <li class="nav-item">
        <button class="btn btn-primary" (click)="activateButton('magnify')">Magnify</button>
      </li>
      <li class="nav-item">
        <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Layout</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let matrix of layoutMatrices" (click)="changeLayout(matrix)">{{matrix.name}}</a>
          </div>
        </div>
      </li>

    </div>

  </ul>
</nav>


<!--=====================================================-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sidebar">
      <app-series-list></app-series-list>
    </div>

    <div class="col-sm-10 main-content">

      <!--<mat-grid-list cols="{{selectedMatrix.colunm}}" rowHeight="fit" class="grid-list">-->
      <!--<mat-grid-tile *ngFor="let item of itemArr">-->
      <!--<div class="container-fluid">-->
      <!--<app-series-viewer [btnArr]="btnArr"></app-series-viewer>-->
      <!--</div>-->
      <!--</mat-grid-tile>-->
      <!--</mat-grid-list>-->

      <!--1 x 1 default-->
      <mat-grid-list *ngIf="layoutCurrentNo==='1 x 1'" cols="1" rowHeight="fit" class="grid-list">
        <mat-grid-tile>
          <div class="container-fluid">
            <app-series-viewer [btnArr]="btnArr"></app-series-viewer>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <!--1 x 2-->
      <mat-grid-list *ngIf="layoutCurrentNo==='1 x 2'" cols="2" rowHeight="fit" class="grid-list">
        <mat-grid-tile>
          <div class="container-fluid">
            <app-series-viewer [btnArr]="btnArr"></app-series-viewer>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="container-fluid">
            <app-series-viewer [btnArr]="btnArr"></app-series-viewer>
          </div>
        </mat-grid-tile>
      </mat-grid-list>


      <!--1 x 3-->
      <mat-grid-list *ngIf="layoutCurrentNo==='1 x 3'" cols="3" rowHeight="fit" class="grid-list">
        <mat-grid-tile>
          <div class="container-fluid">
            <app-series-viewer [btnArr]="btnArr"></app-series-viewer>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="container-fluid">
            <app-series-viewer [btnArr]="btnArr"></app-series-viewer>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="container-fluid">
            <app-series-viewer [btnArr]="btnArr"></app-series-viewer>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <!---->



    </div>


  </div>
</div>
