.navbar {
  height: 40px;
}

.col-sm-2.sidebar {
  background-color: lavender;
  overflow-y: scroll;
  height: 90vh;
}

.col-sm-10.main-content {
  background-color: orange;
  height: 90vh;
  padding-left: 0px;
}

mat-grid-tile {
  background: lightblue;
}

.grid-list {
  height: 90vh;
}
.container-fluid{
  padding: 0px;
}





