<div class="flex-container">
  <div class="col-sm-3">
    <h3>Đăng nhập</h3>
    <form (ngSubmit)="onLogin()" #formRegister="ngForm">
      <!-- UserName -->
      <div class="form-group">
        <i class="fa fa-envelope-o"></i>&nbsp;
        <label for="username"> Tên người dùng</label>
        <!--<input type="email" class="form-control" id="email" placeholder="Nhập email" name="email">-->
        <input class="form-control" id="username" placeholder="Nhập tên người dùng"
               name="username" #username="ngModel" [(ngModel)]="user.username" required>
      </div>

      <!-- Password -->
      <div class="form-group">
        <i class="fa fa-lock"></i>&nbsp;
        <label for="pwd"> Mật khẩu</label>
        <input type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu"
               name="password" #password="ngModel" [(ngModel)]="user.password" required>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary">Đăng nhập</button>
      <!-- Result -->
      <div *ngIf="isLoginFailed" class="form-group">
        <p class="fail">Đăng nhập không thành công!</p>
      </div>
    </form>
  </div>
</div>
