
<!--<div class="col-xs-12 col-sm-2">-->
  <!--<label for="magLevelRange">Magnification Level</label>-->
  <!--<input id="magLevelRange" type="range" min="1" value="2" max="10"/>-->
  <!--<br/>-->
  <!--<label for="magSizeRange">Magnifying glass size</label>-->
  <!--<input id="magSizeRange" type="range" min="100" value="225" max="300" step="25"/>-->
<!--</div>-->

<div id="dicomWrapper" oncontextmenu="return false" unselectable='on' onselectstart='return false;'
     onmousedown='return false;'>

  <div appCornerstone [image]="imageData" [btnArr]="btnArr"  (headersUpdated)="updateHeaders($event)" id="dicomImage"
       style="object-fit: cover;">

    <div *ngIf='imageData'>
      <!-- top left -->
      <p class="headers" style="top: 5px; left: 10px;">{{imageHeaders['patientName']}}</p>
      <p class="headers" style="top: 25px; left: 10px;">{{imageHeaders['patientAge']}}</p>
      <!-- <p class="headers" style="top: 35px; left: 10px;">{{imageHeaders['patientSex']}}</p> -->

      <!-- top right -->
      <p class="headers" style="top: 5px; right: 10px;">{{imageHeaders['institution​Name']}}</p>
      <p class="headers" style="top: 25px; right: 10px;">{{imageHeaders['studyDate']}}</p>

      <!-- bottom left -->
      <p class="headers" style="bottom: 25px; left: 10px;">Thick: {{imageHeaders['sliceThickness']}}</p>
      <p class="headers" style="bottom: 5px; left: 10px;">Spacing: {{imageHeaders['spacingSlices']}}</p>

      <!-- bottom right -->
      <p class="headers" style="bottom: 5px; right: 10px;">{{imageHeaders['currentImage']}} /
        {{imageHeaders['allImages']}}</p>
    </div>
  </div>
</div>
<!--===============================================================-->

